---
http_interactions:
- request:
    method: post
    uri: https://graphql.datafordeler.dk/CVR/v2?apiKey=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"query":"query RegisterImportStatus {\n  DAF_RegisterImportStatus
        { lastEventId lastSequenceNumber lastUpdated }\n}\n","variables":{}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"DAF_RegisterImportStatus":{"lastEventId":51183603,"lastSequenceNumber":409364,"lastUpdated":"2026-10-10T16:20:39.984379Z"}}}'
  recorded_at: Sat, 10 Oct 2026 14:28:53 GMT
recorded_with: VCR 6.4.0
