---
http_interactions:
- request:
    method: post
    uri: https://graphql.datafordeler.dk/CVR/v2?apiKey=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"query":"query Events($first: Int!, $after: String) {\n  CVR_Events(first:
        $first, after: $after) {\n    pageInfo { hasNextPage endCursor }\n    nodes
        {\n      eventid\nentityname\neventaction\nfromfailedimport\nobject_id\nobject_datafordelerRowId\ndatafordelerOpdateringstid\ndatafordelerRegisterImportSequenceNumber\n\n    }\n  }\n}\n","variables":{"first":50,"after":null}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"CVR_Events":{"pageInfo":{"hasNextPage":true,"endCursor":"TVE9PTtNZ0FBQUFBQUFBQT0="},"nodes":[{"eventid":1,"entityname":"CVREnhed","eventaction":"i","fromfailedimport":false,"object_id":"4010603255","object_datafordelerRowId":"1589ee04-8f15-4bab-a245-b231c76b1f72","datafordelerOpdateringstid":"2025-11-24T18:17:05.481142Z","datafordelerRegisterImportSequenceNumber":349504},{"eventid":2,"entityname":"Produktionsenhed","eventaction":"i","fromfailedimport":false,"object_id":"4010603255","object_datafordelerRowId":"b4787e33-5a11-43d1-976c-24b9acfff022","datafordelerOpdateringstid":"2025-11-24T18:17:05.482544Z","datafordelerRegisterImportSequenceNumber":349504},{"eventid":3,"entityname":"Reklamebeskyttelse","eventaction":"i","fromfailedimport":false,"object_id":"4010603255","object_datafordelerRowId":"27d0e026-c0f7-4f74-b108-b22ea608d3e9","datafordelerOpdaterin[...]
- request:
    method: post
    uri: https://graphql.datafordeler.dk/CVR/v2?apiKey=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"query":"query NavnByRowId($rowId: UUID!, $at: DafDateTime!) {\n  CVR_Navn(first:
        1, virkningstid: $at, where: { datafordelerRowId: { eq: $rowId } }) {\n    nodes
        { CVREnhedsId vaerdi datafordelerRowId }\n  }\n}\n","variables":{"rowId":"5046e4ed-b302-4c29-86ca-4e3c2452e713","at":"2026-10-09T12:00:00.000000Z"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"CVR_Navn":{"nodes":[{"CVREnhedsId":"4010603255","vaerdi":"Emdrup
        Bodega","datafordelerRowId":"5046e4ed-b302-4c29-86ca-4e3c2452e713"}]}}}'
  recorded_at: Sat, 10 Oct 2026 14:28:53 GMT
recorded_with: VCR 6.4.0
