---
http_interactions:
- request:
    method: post
    uri: https://graphql.datafordeler.dk/CVR/v2?apiKey=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"query":"query Events($first: Int!, $after: String) {\n  CVR_Events(first:
        $first, after: $after) {\n    pageInfo { hasNextPage endCursor }\n    nodes
        {\n      eventid\nentityname\neventaction\nfromfailedimport\nobject_id\nobject_datafordelerRowId\ndatafordelerOpdateringstid\ndatafordelerRegisterImportSequenceNumber\n\n    }\n  }\n}\n","variables":{"first":1,"after":null}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"CVR_Events":{"pageInfo":{"hasNextPage":true,"endCursor":"TVE9PTtBUUFBQUFBQUFBQT0="},"nodes":[{"eventid":1,"entityname":"CVREnhed","eventaction":"i","fromfailedimport":false,"object_id":"4010603255","object_datafordelerRowId":"1589ee04-8f15-4bab-a245-b231c76b1f72","datafordelerOpdateringstid":"2025-11-24T18:17:05.481142Z","datafordelerRegisterImportSequenceNumber":349504}]}}}'
  recorded_at: Sat, 10 Oct 2026 14:28:53 GMT
- request:
    method: post
    uri: https://graphql.datafordeler.dk/CVR/v2?apiKey=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"query":"query Events($first: Int!, $after: String) {\n  CVR_Events(first:
        $first, after: $after) {\n    pageInfo { hasNextPage endCursor }\n    nodes
        {\n      eventid\nentityname\neventaction\nfromfailedimport\nobject_id\nobject_datafordelerRowId\ndatafordelerOpdateringstid\ndatafordelerRegisterImportSequenceNumber\n\n    }\n  }\n}\n","variables":{"first":1,"after":"TVE9PTtBUUFBQUFBQUFBQT0="}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"CVR_Events":{"pageInfo":{"hasNextPage":true,"endCursor":"TVE9PTtBZ0FBQUFBQUFBQT0="},"nodes":[{"eventid":2,"entityname":"Produktionsenhed","eventaction":"i","fromfailedimport":false,"object_id":"4010603255","object_datafordelerRowId":"b4787e33-5a11-43d1-976c-24b9acfff022","datafordelerOpdateringstid":"2025-11-24T18:17:05.482544Z","datafordelerRegisterImportSequenceNumber":349504}]}}}'
  recorded_at: Sat, 10 Oct 2026 14:28:53 GMT
recorded_with: VCR 6.4.0
