---
http_interactions:
- request:
    method: post
    uri: https://graphql.datafordeler.dk/CVR/v2?apiKey=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"query":"{ DAF_RegisterImportStatus { lastEventId lastSequenceNumber
        lastUpdated } }","variables":{}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"DAF_RegisterImportStatus":{"lastEventId":51128997,"lastSequenceNumber":409204,"lastUpdated":"2026-10-09T20:04:24.934986Z"}}}'
  recorded_at: Fri, 09 Oct 2026 18:08:30 GMT
recorded_with: VCR 6.4.0
