---
http_interactions:
- request:
    method: post
    uri: https://graphql.datafordeler.dk/CVR/v2?apiKey=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"query":"{\n  CVR_CVREnhed(first: 1, where: { id: { eq: \"4001142075\"
        } }) {\n    nodes { id enhedsType forretningsnoegle forretningsnoegletype
        status }\n  }\n}\n","variables":{}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"CVR_CVREnhed":{"nodes":[{"id":"4001142075","enhedsType":"Virksomhed","forretningsnoegle":"47458714","forretningsnoegletype":"CVRNummer","status":"aktiv"}]}}}'
  recorded_at: Fri, 09 Oct 2026 18:09:07 GMT
recorded_with: VCR 6.4.0
