---
http_interactions:
- request:
    method: post
    uri: https://graphql.datafordeler.dk/CVR/v2?apiKey=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"query":"{\n  CVR_Beskaeftigelse(first: 1, where: { CVREnhedsId: {
        eq: \"4001142075\" } }) {\n    pageInfo { hasNextPage }\n    nodes { antal
        intervalFra intervalTil beskaeftigelsestalstype }\n  }\n}\n","variables":{}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"CVR_Beskaeftigelse":{"pageInfo":{"hasNextPage":true},"nodes":[{"antal":3944,"intervalFra":null,"intervalTil":null,"beskaeftigelsestalstype":"KvartalsbeskaeftigelseAntalAnsatte"}]}}}'
  recorded_at: Fri, 09 Oct 2026 18:09:07 GMT
recorded_with: VCR 6.4.0
