---
http_interactions:
- request:
    method: post
    uri: https://graphql.datafordeler.dk/CVR/v2?apiKey=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"query":"{\n  CVR_Kreditoplysninger(first: 1, virkningstid: \"2026-10-09T12:00:00.000000Z\",
        where: { CVREnhedsId: { eq: \"4001142075\" } }) {\n    pageInfo { hasNextPage
        hasPreviousPage startCursor endCursor }\n    nodes { Kreditoplysning kreditoplysningstekst
        statusvaerdi }\n  }\n}\n","variables":{}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"CVR_Kreditoplysninger":{"pageInfo":{"hasNextPage":false,"hasPreviousPage":false,"startCursor":null,"endCursor":null},"nodes":[]}}}'
  recorded_at: Fri, 09 Oct 2026 18:09:05 GMT
recorded_with: VCR 6.4.0
