---
http_interactions:
- request:
    method: get
    uri: https://api.datafordeler.dk/FileDownloads/GetAvailableFileDownloads?Register=CVR&apiKey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"paginationMetadata":{"currentPage":1,"pageSize":10000,"totalCount":120,"totalPages":1},"availableFileDownloads":[{"fileName":"CVR_V2_FuldtAnsvarligDeltagerRelation_TotalDownload_json_Current_519.zip","register":"CVR","entityName":"FuldtAnsvarligDeltagerRelation","frequency":"Generated
        from 23:00 UTC on Friday","typeOfDownload":"TotalDownload","typeOfData":"Current","version":"2","generationNumber":519,"pointInTime":"2026-10-02T23:08:08.854198Z","generationTime":"2026-10-02T23:33:57.666248Z","expirationDate":"2026-10-09T23:33:57.666248Z","containedFileFormat":"json","outputFileFormat":"zip","municipalityCode":null,"registerImportSequenceNumber":406781,"md5Hash":"ef79eeb42ff43156684b256c4cc2e1ca","fileSizeInBytes":28728696},{"fileName":"CVR_V2_AndreDeltagere_TotalDownload_csv_Temporal_519.zip","register":"CVR","entityName":"AndreDeltagere","frequency":"Generated
        from 23:00 UTC on Friday","typeOfDownload":"TotalDownload","typeOfData":"Temporal","version":"2","generationNumber":519,"pointInTime":"2026-10-02T23:08:08.854198Z","generationTime":"2026-10-02T23:35:34.671927Z","expirationDate":"2026-10-09T23:35:34.671927Z","containedFileFormat":"csv","outputFileFormat":"zip","municipalityCode":null,"regis[...]
