---
http_interactions:
- request:
    method: post
    uri: https://graphql.datafordeler.dk/CVR/v2?apiKey=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"query":"{\n  CVR_Navn(first: 1, where: { vaerdi: { eq: \"LEGO SYSTEM
        A/S\" } }) {\n    pageInfo { hasNextPage endCursor }\n    nodes { CVREnhedsId
        }\n  }\n}\n","variables":{}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"CVR_Navn":{"pageInfo":{"hasNextPage":true,"endCursor":"TkRBd01URTBNakEzTlE9PTtNakF5TlMwd01TMHdNMVF4TURveU1UbzFOUzR3TURBd01EQXdLekF3T2pBdztNVGszTXkwd055MHdNUT09"},"nodes":[{"CVREnhedsId":"4001142075"}]}}}'
  recorded_at: Fri, 09 Oct 2026 18:08:46 GMT
- request:
    method: post
    uri: https://graphql.datafordeler.dk/CVR/v2?apiKey=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"query":"query($after: String!) {\n  CVR_Navn(first: 1, after: $after,
        where: { vaerdi: { eq: \"LEGO SYSTEM A/S\" } }) {\n    pageInfo { hasPreviousPage
        }\n    nodes { CVREnhedsId }\n  }\n}\n","variables":{"after":"TkRBd01URTBNakEzTlE9PTtNakF5TlMwd01TMHdNMVF4TURveU1UbzFOUzR3TURBd01EQXdLekF3T2pBdztNVGszTXkwd055MHdNUT09"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"CVR_Navn":{"pageInfo":{"hasPreviousPage":false},"nodes":[{"CVREnhedsId":"4002229624"}]}}}'
  recorded_at: Fri, 09 Oct 2026 18:09:05 GMT
recorded_with: VCR 6.4.0
