---
http_interactions:
- request:
    method: post
    uri: https://graphql.datafordeler.dk/CVR/v2?apiKey=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"query":"{ CVR_Navn(first: 1) { nodes { vaerdi } } }","variables":{}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":[{"message":"When retrieving data for this entity, a filter
        on at least one of the following fields must be specified: CVREnhedsId, datafordelerRowId,
        vaerdi","locations":[{"line":1,"column":3}],"path":["CVR_Navn"],"extensions":{"traceId":"00-b284088d1a6a92c6193595733d0f9e1d-dfcea9bd21edfde6-01","code":"DAF-GQL-0009"}}],"data":{"CVR_Navn":null}}'
  recorded_at: Fri, 09 Oct 2026 18:08:29 GMT
recorded_with: VCR 6.4.0
