---
http_interactions:
- request:
    method: post
    uri: https://graphql.datafordeler.dk/CVR/v2?apiKey=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"query":"{\n  CVR_Virksomhed(first: 5, virkningstid: \"2026-10-09T12:00:00.000000Z\",
        where: { CVRNummer: { in: [47458714, 35954716] } }) {\n    nodes { CVRNummer
        }\n  }\n}\n","variables":{}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"CVR_Virksomhed":{"nodes":[{"CVRNummer":35954716},{"CVRNummer":47458714}]}}}'
  recorded_at: Fri, 09 Oct 2026 18:09:08 GMT
recorded_with: VCR 6.4.0
